$form-width: 700px;

.cform {
  max-width: $form-width;
  margin:0 auto;
}


.cform__container {
  display: flex;
  margin-bottom: 0.5em;
}

.cform__group {
  width: 50%;
}

.cform__label {
  display: block;
}

.cform__input {
  display: block;
  width: 100%;
}
