/* Colours */
$white: #fff;
$open-sans: 'Open Sans', sans-serif;
$dark-grey: #222;

/* Stiziles */

html, body {
  background: $white;
  font-family: $open-sans;
  color: $dark-grey;
}

/* Breakpoints */
$large-size: 1000px;
$large-up: "screen and (min-width: 1000px)";

/* main */

.main {
  text-align: center;

  @media #{$large-up} {
    width: $large-size;
    margin: 0 auto;
  }
}

.main img {
  width: 103px;
  height: 89px;
  margin-bottom: 10px;
  text-align: center;
}

/* transitions */

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}

input {
  color: black;
}
